@font-face {
    font-family: 'Iranian Sans';
    src: url('/assets/font/Iranian Sans.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Iranian Sans', sans-serif;
}

body {
    font-family: 'Iranian Sans', sans-serif;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('/assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    position: relative;
}

.trump {
    font-size: 18px;
    font-weight: bold;
    direction: rtl;
}

.top-bar {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #282828;
    color: white;
}

.scores {
    display: flex;
    align-items: center;
    margin-left: auto;
    right: 0;
    position: absolute;
    direction: rtl;
}

.team-score {
    font-size: 16px;
    margin: 0 10px;
    font-weight: bold;
}

.opponent-name {
    background: #00000080;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    transform: rotate(90deg);
    white-space: nowrap;
    width: 130px;
    line-height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left {
    left: -40px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.right {
    right: -40px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.player-name {
    font-size: 20px;
    font-weight: bold;
}

.player-name.up {
    color: white;
    font-size: 18px;
    background: #00000080;
    font-weight: bold;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    line-height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.player-name.down {
    color: white;
    font-size: 18px;
    background: #00000080;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    line-height: 30px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hokm-button {
    background-color: #d9534f;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.center-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 120px;
}

.center-card {
    width: 50px;
    margin: 0 5px;
}

.down-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hand-cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 85px;
    padding: 0 20px;
    margin-bottom: 50px;
}

.hand-cards img {
    width: 60px;
    margin: 0 -20px;
    /*cursor: pointer;*/
    opacity: 1 !important;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}


.center-cards img {
    width: 60px;
    opacity: 1 !important;
}

.turn-message {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

@media only screen and (orientation: portrait) {
    .hand-cards img {
        width: 60px;
        margin: 0 -20px;
    }

    .game-container {
        width: 100%;
        height: 100vh;
    }

    .center-cards img {
        width: 60px;
    }
}

.hamburger {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #282828;
    border-radius: 5px;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
}

.menu li {
    margin: 5px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

.small-card {
    position: relative;
    width: 25px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.down-score-cards-container {
    width: 70%;
}

.down-small-card {
    margin-bottom: 15px;
    margin-left: -15px;
}

.right-score-cards-container {
    height: 70%;
    position: absolute;
    top: 60%;
    right: 40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.right-small-card {
    margin-right: 15px;
    margin-top: -24px;
}

.card-number {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@keyframes greenLightningEffect {
    0% {
        background-color: transparent;
        opacity: 0;
    }
    10% {
        background-color: #00b100;
        opacity: 1;
    }
    20% {
        background-color: transparent;
        opacity: 0;
    }
    30% {
        background-color: #00b100;
        opacity: 1;
    }
    40% {
        background-color: transparent;
        opacity: 0;
    }
    50% {
        background-color: #00b100;
        opacity: 1;
    }
    100% {
        background-color: transparent;
        opacity: 0;
    }
}

.green-lightning {
    animation: greenLightningEffect 0.8s linear;
}

.static-green {
    background-color: #00b100 !important;
}


.down-small-card-number {
    color: white;
    font-weight: bold;
    position: relative;
    right: 26px;
    bottom: 25px;
    background: #6b6b6b;
    border-radius: 50%;
    width: 18px;
    text-align: center;
    display: inline-block;
}

.right-small-card-number {
    color: white;
    font-weight: bold;
    position: relative;
    right: 7px;
    bottom: 32px;
    background: #6b6b6b;
    border-radius: 50%;
    width: 18px;
    text-align: center;
}

.deck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.deck-card {
    width: 60px;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@keyframes dealCard {
    from {
        transform: translate(-60px, 0) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(var(--target-x), var(--target-y));
        opacity: 1;
    }
}

.card.dealing {
    position: absolute;
    animation: dealCard 0.5s ease forwards;
}

.error-message {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    direction: rtl;
}

.up-card {
    position: absolute;
    margin-top: -100px;
}

.left-card {
    position: absolute;
    margin-left: -90px;
}

.down-card {
    margin-top: 100px;
    position: absolute;
}

.right-card {
    position: absolute;
    margin-left: 90px;
}

@keyframes throwCardAnimation {
    from {
        transform: translate(var(--target-x), var(--target-y)) scale(0.95) rotate(var(--random-rotation));
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1) rotate(var(--random-rotation));
        opacity: 1;
    }
}

.center-card {
    animation: throwCardAnimation var(--animation-time) ease forwards;
}

@keyframes fadeOutDown {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50px, 200px) scale(0.5);
        opacity: 0;
    }
}

@keyframes fadeOutRight {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(120px, -100px) scale(0.5);
        opacity: 0;
    scale(0.5)
    }
}

.fade-out-down {
    animation: fadeOutDown 0.5s ease forwards;
}

.fade-out-right {
    animation: fadeOutRight 0.5s ease forwards;
}

.modal {
    display: none;
    position: absolute;
    width: 100%;
    direction: rtl;
}

.modal-content {
    margin: 10px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    max-height: 80%;
    animation: fadeIn 0.3s ease;
    position: relative; /* برای استفاده از موقعیت‌دهی مطلق در فرزندان */
    max-width: 600px;
    display: flex;
    flex-direction: column; /* محتوا به صورت ستونی مرتب شود */
}

.modal table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modal table th, .modal table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.modal table th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
}

.modal .tabs {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

.modal .tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    text-align: center;
}

.modal .tab.active {
    background-color: white;
    border-bottom: 2px solid green;
    color: green;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
}

.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.continue-btn {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.continue-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.continue-btn:active {
    background-color: #1e7e34;
    transform: scale(1);
}

.modal-content {
}

.modal-footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%; /* عرض کامل Modal */
    text-align: center;
    padding: 10px 0;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* سایه بالای دکمه */
}

.continue-btn {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.continue-btn:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.continue-btn:active {
    background-color: #1e7e34;
    transform: scale(1);
}


.timer-wrapper {
    position: absolute;
    bottom: 200px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 80px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    background: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

.warning {
    color: red !important;
    animation: pulse 0.5s 16;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.trump-box {
    background: #000000a1;
    width: 80%;
    height: 90px;
    align-self: center;
    position: absolute;
    top: 180px;
    text-align: center;
    align-content: center;
    z-index: 100;
}

.trump-box img {
    width: 45px;
    cursor: pointer;
    margin: 0 8px;
}