<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حکم</title>
    <link rel="stylesheet" href="/assets/css/game.css?foobar">
    <audio id="card-sound" src="/assets/audio/card-sound.mp3" preload="auto"></audio>
    <audio id="tiktok" src="/assets/audio/tiktok.mp3" preload="auto"></audio>
</head>
<body>
<div class="game-container">
    <div class="top-bar">
        <i class="material-icons icon hamburger"></i>
        <div class="scores">
            <span class="team-score">تیم ما: <span id="our-team-score"></span></span>
            <span class="team-score">تیم حریف: <span id="other-team-score"></span></span>
        </div>
        <div class="trump"><span style="position: relative; bottom: 5px;">حکم: </span><span id="trump"></span></div>
    </div>
    <div class="timer">
        <div class="clock"></div>
    </div>
    <div class="center-cards" id="center-cards">
    </div>
    <div class="trump-box" id="trump-box" hidden>
        <img src="/assets/img/spades.png" alt="s" onclick="trumpDetermine('S')">
        <img src="/assets/img/hearts.png" alt="h" onclick="trumpDetermine('H')">
        <img src="/assets/img/clubs.png" alt="c" onclick="trumpDetermine('C')">
        <img src="/assets/img/diamonds.png" alt="d" onclick="trumpDetermine('D')">
    </div>
    <div class="down-bar">
        <div class="timer-wrapper">
            <div id="timer"></div>
        </div>
        <div class="down-score-cards-container" id="down-score-cards-container"></div>
        <div id="error-message" class="error-message"></div>
        <div class="hand-cards" id="hand-cards"></div>
    </div>
    <div class="opponent-name left" id="left-player"></div>
    <div class="opponent-name right" id="right-player"></div>
    <div class="right-score-cards-container" id="right-score-cards-container"></div>
    <div class="player-name up" id="up-player"></div>
    <div class="player-name down" id="down-player"></div>
    <div id="score-modal" class="modal">
        <div class="modal-content">
            <div class="tabs">
                <div class="tab active" onclick="showTab('last-hand')">دست آخر</div>
                <div class="tab" onclick="showTab('score-table')">جدول امتیازات</div>
            </div>
            <div id="last-hand" class="content">
                <table>
                    <thead>
                    <tr>
                        <th rowspan="2">دست</th>
                        <th colspan="2">امتیاز دست</th>
                        <th colspan="2">امتیاز کل</th>
                        <th rowspan="2">قانون</th>
                    </tr>
                    <tr>
                        <th>شما</th>
                        <th>حریف</th>
                        <th>شما</th>
                        <th>حریف</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>اول</td>
                        <td>4</td>
                        <td>7</td>
                        <td>0</td>
                        <td class="highlight">1</td>
                        <td>—</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="score-table" class="content" style="display: none;">
                <p>جدول امتیازات در این بخش نمایش داده می‌شود.</p>
            </div>
            <div class="modal-footer">
                <button class="continue-btn" onclick="continueGame()">ادامه بازی</button>
            </div>
        </div>
    </div>
</div>
<script>
    const baseURL = "http://localhost:7070"
    let isYourTurn = false
    let time;
    let countdown;
    let gameId = {{.gameId}}

    fetchGameData(gameId);

    async function fetchGameData(gameId) {
        fetch(`/game/${gameId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'user-reference-key': {{.userReferenceKey}}
            },
        })
            .then((response) => response.json())
            .then((data) => updateGameUI(data))
            .catch(async (error) => {
                await sleep(1000)
                // await fetchGameData(gameId)
                console.error('Error:', error)
            });
    }

    async function refresh() {
        fetch(`/game/${gameId}/refresh`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'user-reference-key': {{.userReferenceKey}}
            },
        })
            .then((response) => response.json())
            .then((data) => refreshActions(data))
            .catch(async (error) => {
                await sleep(1000)
                // await refresh()
                console.error('Error:', error)
            });
    }

    async function trumpDetermine(type) {
        fetch(`/game/${gameId}/choose-trump`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'user-reference-key': {{.userReferenceKey}}
            },
            body: JSON.stringify({
                'trump': type
            })
        })
            .then((response) => response.json())
            .then((data) => trumpDetermineActions(data))
            .catch(async (error) => {
                await sleep(1000)
                // await trumpDetermine(type)
                console.error('Error:', error)
            });
    }

    async function selectCard(card) {
        if (card.hasAttribute("card-selected") || !isYourTurn) {
            return;
        }

        isYourTurn = false

        fetch(`/game/${gameId}/place`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'user-reference-key': {{.userReferenceKey}}
            },
            body: JSON.stringify({
                'card': card.getAttribute("alt")
            })
        })
            .then(async(response) => {
                let data = (await response.json())
                if (response.status === 200) {
                    await selectCardActions(data, card)
                    return
                }
                isYourTurn = true
                if (response.status === 403) {
                    alert(data.message)
                }
            })
            .catch(async (error) => {
                isYourTurn = true
                await sleep(1000)
                // await selectCard(card)
                console.error('Error:', error)
            });
    }

    async function getYourCards(king) {
        fetch(`/game/${gameId}/cards`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'user-reference-key': {{.userReferenceKey}}
            },
        })
            .then((response) => response.json())
            .then((data) => getYourCardsActions(data, king))
            .catch(async (error) => {
                await sleep(1000)
                // await getYourCards(king)
                console.error('Error:', error)
            });
    }

    async function updateGameUI(data) {
        updatePlayerNames(data.players);
        updateTotalRoundScores(data.points.total);
        let king = data.king
        if (isItFirstRound(data)) {
            await firstKingDetermination(data.kingCards, data.beginnerDirection)
            document.getElementById(`${king}-player`).innerHTML = "👑 " + document.getElementById(`${king}-player`).innerHTML;
            await sleep(500);
            let cards = king === "down" ? data.trumpCards : ["back", "back", "back", "back", "back"];
            await distribute(king, cards)
            if (king === "down") {
                countdown = setInterval(updateTimer, 1000);
                updateTime(20)
                document.getElementById("trump-box").removeAttribute("hidden")
            } else {
                await getYourCards(king);
            }
        } else {
            document.getElementById(`${king}-player`).innerHTML = "👑 " + document.getElementById(`${king}-player`).innerHTML;
            updateTurn(data.turn);
            updateTime(data.timeRemained);
            updateCenterCards(data.centerCards);
            updateYourCards(data.playerCards);
            updateTrump(data.trump);
            updateCurrentRoundScores(data.points.currentRound);
        }
    }

    function isItFirstRound(data) {
        return data.hasKingCardsFinished === "false";
    }

    function updatePlayerNames(players) {
        Object.entries(players).forEach(([direction, player]) => {
            document.getElementById(`${direction}-player`).textContent = player.username
        });
    }

    function updateTurn(turn) {
        if (turn === "down") {
            isYourTurn = true;
            countdown = setInterval(updateTimer, 1000);
        } else {
            refresh()
        }
    }

    function updateTime(timeRemained) {
        document.getElementById("timer").removeAttribute("hidden")
        time = timeRemained;
    }

    function updateCenterCards(centerCards) {
        document.getElementById("center-cards").innerHTML = ""
        Object.entries(centerCards).forEach(([direction, card]) => {
            if (card) {
                placeCard(direction, card, false, false);
            }
        });
    }

    function updateYourCards(yourCards) {
        const handCards = document.getElementById("hand-cards");
        yourCards.forEach((cards) => {
            cards.forEach((card) => {
                const newCard = createCardElement(card, ["card"], "selectCard(this)");
                handCards.appendChild(newCard);
            })
        });
    }

    function createCardElement(card, classNames, onClick) {
        const newCard = document.createElement('img');
        newCard.src = `/assets/img/${card}.png`;
        classNames.forEach(function (className) {
            newCard.classList.add(className);
        })
        newCard.setAttribute("alt", card);
        newCard.setAttribute("onclick", onClick);
        return newCard;
    }

    function updateTrump(trump) {
        switch (trump) {
            case "H":
                document.getElementById("trump").innerHTML = '<img alt="h" src="/assets/img/hearts.png" style="width: 20px; border: none">'
                break
            case "C":
                document.getElementById("trump").innerHTML = '<img alt="c" src="/assets/img/clubs.png" style="width: 20px; border: none">'
                break
            case "S":
                document.getElementById("trump").innerHTML = '<img alt="s" src="/assets/img/spades.png" style="width: 20px; border: none">'
                break
            case "D":
                document.getElementById("trump").innerHTML = '<img alt="d" src="/assets/img/diamonds.png" style="width: 20px; border: none">'
        }
    }

    function updateTotalRoundScores(points) {
        document.getElementById("our-team-score").innerText = points.down
        document.getElementById("other-team-score").innerText = points.right
    }

    function updateCurrentRoundScores(points) {
        Object.entries(points).forEach(([direction, score]) => {
            for (let i = 0; i < score; i++) {
                addRoundPoint(direction, i + 1)
            }
        });
    }

    async function refreshActions(data) {
        // must be deleted updateCenterCards(data.centerCards);
        await placeCard(data.lastMove.from, data.lastMove.card)
        if (data.whoHasWonTheCards) {
            // simulateGreenLightningEffect([data.whoHasWonTheRound])
        }
        if (data.whoHasWonTheRound === "down" || data.whoHasWonTheRound === "up") {
            await sleep(1000);
            simulateGreenLightningEffect(["down", "up"])
            await sleep(2000);
            clearCenterCards("down")
            addRoundPoint("down", data.points.currentRound.down)
            return
        }
        if (data.whoHasWonTheRound === "right" || data.whoHasWonTheRound === "left") {
            await sleep(1000);
            simulateGreenLightningEffect(["right", "left"])
            await sleep(2000);
            clearCenterCards("right")
            addRoundPoint("right", data.points.currentRound.right)
            return
        }
        updateTurn(data.turn)
        updateTime(data.timeRemained);
    }

    function rearrangeArray(direction) {
        const directions = ["up", "left", "down", "right"];
        const index = directions.indexOf(direction);

        if (index === -1) {
            throw new Error("Invalid direction");
        }

        return [...directions.slice(index), ...directions.slice(0, index)];
    }

    function getNextIndex(direction) {
        const directions = ["up", "left", "down", "right"];
        const index = directions.indexOf(direction);

        if (index === -1) {
            throw new Error("Invalid direction");
        }

        const nextIndex = (index + 1) % directions.length;
        return directions[nextIndex];
    }

    async function continueDistributing(data, direction) {
        let arr = rearrangeArray(direction)
        for (let [_, cards] of Object.entries(data.cards)) {
            for (let i = 0; i < arr.length; i++) {
                if (arr[i] === "down") {
                    if (cards.length) {
                        await distribute("down", cards)
                    }
                } else {
                    await distribute(arr[i], new Array(cards.length).fill("back"))
                }
                await document.getElementById("deck").remove()
            }
        }
    }

    async function trumpDetermineActions(data) {
        document.getElementById("trump-box").setAttribute("hidden", "true")
        document.getElementById("timer").setAttribute("hidden", "true")
        clearInterval(countdown);
        data.cards.push({})
        await continueDistributing(data, getNextIndex("down"));
        countdown = setInterval(updateTimer, 1000);
        await updateTime(data.timeRemained + 25)
        await updateTurn("down")
    }

    function addRoundPoint(direction, point) {
        const scoreCardsContainer = document.getElementById(`${direction}-score-cards-container`);

        const cardHTML = `<img src="/assets/img/back.png" class="${direction}-small-card small-card">
                                  <span class="${direction}-small-card-number">${point}</span>`;

        scoreCardsContainer.innerHTML += cardHTML;
    }

    function playCardSound() {
        // let audio = document.getElementById('card-sound');
        // audio.currentTime = 0;
        // audio.play();
    }

    function playTiktokSound() {
        // let audio = document.getElementById('tiktok');
        // audio.currentTime = 0;
        // audio.play();
    }

    async function getYourCardsActions(data, king) {
        updateTrump(data.trump);
        document.getElementById("deck").remove()
        await continueDistributing(data, getNextIndex(king))
        await refresh()
    }

    async function selectCardActions(data, card) {
        if (data.wrongCard) {
            showError("کارت غیرمجاز ⛔");
        }
        document.getElementById("timer").setAttribute("hidden", "true")
        clearInterval(countdown);
        card.parentElement.removeChild(card);
        await placeCard("down", card.getAttribute("alt"))
        await sleep(1500)
        if (data.whoHasWonTheCards) {
            await sleep(1000);
            simulateGreenLightningEffect([data.whoHasWonTheCards])
            if (data.whoHasWonTheCards === "down" || data.whoHasWonTheCards === "up") {
                clearCenterCards("down")
                addRoundPoint("down", data.points.currentRound.down)
            } else {
                clearCenterCards("right")
                addRoundPoint("right", data.points.currentRound.right)
            }
            await sleep(1000)
            if (data.whoHasWonTheRound) {
                updateTotalRoundScores(data.points.total);
                if (data.whoHasWonTheGame) {
                    if (data.whoHasWonTheGame === "down" || data.whoHasWonTheGame === "up") {
                        alert("down has won the game!")
                    } else {
                        alert("right has won the game!")
                    }
                } else {
                    let king = data.king
                    let cards
                    if (king === "down") {
                        cards = data.trumpDeterminationCards;
                    } else {
                        cards = ["back", "back", "back", "back", "back"];
                    }
                    if (data.wasKingChanged) {
                        document.getElementById(`${king}-player`).innerHTML = "👑 " + document.getElementById(`${king}-player`).innerHTML;
                    }
                    await sleep(500);
                    await distribute(king, cards)
                    if (king === "down") {
                        countdown = setInterval(updateTimer, 1000);
                        updateTime(20)
                        document.getElementById("trump-box").removeAttribute("hidden")
                    } else {
                        await getYourCards(king);
                    }
                }
            }
        }
        updateTurn(data)
    }

    async function firstKingDetermination(cards, beginnerDirection) {
        let deck = document.createElement('div')
        deck.className = 'deck';
        deck.id = 'deck';
        let deckCard = document.createElement('img')
        deckCard.src = '/assets/img/back.png';
        deckCard.className = 'deck-card';
        deck.appendChild(deckCard)
        document.getElementById("center-cards").appendChild(deck)
        await sleep(1500);
        let turn = beginnerDirection
        for (let [_, card] of Object.entries(cards)) {
            await dealCards(turn, [card], true);
            turn = getNextIndex(turn)
            await sleep(500);
        }
        await sleep(1000);
        await deck.remove()
    }

    async function distribute(direction, cards) {
        let deck = document.createElement('div')
        deck.className = 'deck';
        deck.id = 'deck';
        let deckCard = createCardElement("back", ["deck-card"])
        deck.appendChild(deckCard)
        document.getElementById("center-cards").appendChild(deck)
        await dealCards(direction, cards);
    }

    function dealCards(direction, cards, isKingDeterminationLevel = false) {
        return new Promise((resolve) => {
            const handCards = document.getElementById('hand-cards');
            const deck = document.getElementById('deck');

            let delay = 0;
            let completedAnimations = 0;

            cards.forEach((cardSrc, index) => {
                setTimeout(() => {
                    playCardSound();

                    let card
                    if (direction === "down") {
                        card = createCardElement(cardSrc, ["card", "dealing"], "selectCard(this)")
                        card.style.setProperty('--target-x', `-60px`);
                        card.style.setProperty('--target-y', `150px`);
                    }

                    if (direction === "right") {
                        card = createCardElement(cardSrc, ["card", "dealing"])
                        card.style.setProperty('--target-x', `40px`);
                        card.style.setProperty('--target-y', `0px`);
                    }

                    if (direction === "left") {
                        card = createCardElement(cardSrc, ["card", "dealing"])
                        card.style.setProperty('--target-x', `-160px`);
                        card.style.setProperty('--target-y', `0px`);
                    }

                    if (direction === "up") {
                        card = createCardElement(cardSrc, ["card", "dealing"])
                        card.style.setProperty('--target-x', `-60px`);
                        card.style.setProperty('--target-y', `-150px`);
                    }

                    card.addEventListener('animationend', () => {
                        if (!isKingDeterminationLevel) {
                            if (direction === "down") {
                                card.classList.remove('dealing');
                                card.style.transform = 'none';
                                handCards.appendChild(card);
                            } else {
                                card.remove();
                            }
                        }

                        completedAnimations++;
                        if (completedAnimations === cards.length) {
                            resolve(); // Resolve the promise after the last card finishes animating
                        }
                    });

                    deck.appendChild(card);
                }, delay);

                delay += 300; // Delay between each card
            });
        });
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function showError(message) {
        const errorMessage = document.getElementById("error-message");

        errorMessage.innerText = message;

        errorMessage.style.opacity = "1";

        setTimeout(() => {
            errorMessage.style.opacity = "0";
        }, 3000);
    }

    async function placeCard(direction, name, withSound = true, withAnimation = true) {
        if (withSound) {
            playTiktokSound()
        }
        let centerCards = document.getElementById("center-cards");
        let newCard = document.createElement('img');
        newCard.src = "/assets/img/" + name + ".png";
        newCard.classList.add("center-card");
        newCard.classList.add(`${direction}-card`);
        newCard.setAttribute("card-selected", "true");
        if (withAnimation) {
            newCard.style.setProperty('--animation-time', `0.5s`);
        } else {
            newCard.style.setProperty('--animation-time', `0s`);
        }
        newCard.style.setProperty('--random-rotation', `${Math.random() * 20 - 10}deg`);
        if (direction === "down") {
            newCard.style.setProperty('--target-y', `200px`);
            newCard.style.setProperty('--target-x', `0px`);
        }
        if (direction === "up") {
            newCard.style.setProperty('--target-y', `-150px`);
            newCard.style.setProperty('--target-x', `0px`);
        }
        if (direction === "left") {
            newCard.style.setProperty('--target-y', `0px`);
            newCard.style.setProperty('--target-x', `-80px`);
        }
        if (direction === "right") {
            newCard.style.setProperty('--target-y', `0px`);
            newCard.style.setProperty('--target-x', `80px`);
        }
        centerCards.appendChild(newCard);
    }

    function simulateGreenLightningEffect(positions) {
        positions.forEach(function (position) {
            const playerElement = document.getElementById(`${position}-player`);
            playerElement.classList.add("green-lightning");
            setTimeout(() => {
                playerElement.classList.remove("green-lightning");
                playerElement.classList.add("static-green");
                setTimeout(() => {
                    playerElement.classList.remove("static-green");
                }, 2000);
            }, 800);
        })
    }

    function clearCenterCards(direction) {
        const centerCards = document.querySelectorAll(".center-card");
        centerCards.forEach((card) => {
            if (direction === "down") {
                card.classList.add("fade-out-down");
            } else if (direction === "right") {
                card.classList.add("fade-out-right");
            }
            card.addEventListener("animationend", () => {
                card.remove();
            });
        });
    }

    function openModal() {
        document.getElementById("score-modal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("score-modal").style.display = "none";
    }

    function showTab(tabId) {
        document.querySelectorAll('.content').forEach(content => {
            content.style.display = 'none';
        });
        document.querySelectorAll('.tab').forEach(tab => {
            tab.classList.remove('active');
        });
        document.getElementById(tabId).style.display = 'block';
        event.target.classList.add('active');
    }

    function continueGame() {
        closeModal();
    }

    function updateTimer() {
        // const timerElement = document.getElementById("timer");
        //
        // updateTimerDisplay(timerElement);
        // toggleWarningClass(timerElement);
        // handleTimerCountdown(timerElement);
    }

    function updateTimerDisplay(timerElement) {
        timerElement.textContent = time;
    }

    function toggleWarningClass(timerElement) {
        if (time <= 5) {
            timerElement.classList.add("warning");
            playTiktokSound();
        } else {
            timerElement.classList.remove("warning");
        }
    }

    function handleTimerCountdown(timerElement) {
        if (time > 0) {
            time--;
        } else {
            clearInterval(countdown);
            endTimer(timerElement);
        }
    }

    function endTimer(timerElement) {
        timerElement.style.fontSize = "15px";
        timerElement.textContent = "Time's up!";
    }
</script>
</body>
</html>
