<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>منوی بازی حکم</title>
    <link rel="stylesheet" href="/assets/css/menu.css">
</head>
<body>
<div class="game-container">
    <div class="menu">
        <h1 class="game-title">حکم</h1>
        <div class="menu-buttons">
            <button onclick="startGame(this)">شروع بازی</button>
            <button onclick="scoreboard(this)">جدول امتیازات</button>
            <button onclick="exitGame(this)">خروج</button>
        </div>
    </div>
</div>

<script>
    const baseURL = "http://localhost:7070"

    window.addEventListener('load', () => {
        document.body.classList.add('fade-in');
    });

    function startGame(button) {
        setLoading(button);
        fetch(`${baseURL}/start`, {method: 'GET'})
            .then((response) => response.json())
            .then((data) => document.location.href = `/game?gameId=${data.gameId}`)
            .catch(async (error) => {
                await sleep(1000)
                await startGame()
                console.error('Error:', error)
            });
    }

    function scoreboard(button) {
        setLoading(button);
        setTimeout(() => {
            alert('در حال آماده‌سازی...');
            resetButton(button, "جدول امتیازات");
        }, 2000);
    }

    function exitGame(button) {
        setLoading(button);
        setTimeout(() => {
            window.close();
        }, 2000);
    }

    function setLoading(button) {
        button.disabled = true;
        button.classList.add("loading");
        button.innerHTML = '<span class="spinner"></span>';
    }

    function resetButton(button, text) {
        button.disabled = false;
        button.classList.remove("loading");
        button.innerHTML = text;
    }
</script>
</body>
</html>
