<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>منو</title>
    <link rel="stylesheet" href="/assets/css/menu.css">
</head>
<body>
<div class="game-container">
    <div class="menu">
        <h1 class="game-title">حکم</h1>
        <div class="menu-buttons">
            <button onclick="startGame(this)">شروع بازی</button>
            <button onclick="scoreboard(this)">جدول امتیازات</button>
            <button onclick="exitGame(this)">خروج</button>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        document.body.classList.add('fade-in');
    });

    function startGame(button) {
        setLoading(button, "w8 a moment");
        fetch(`/game/start`, {method: 'POST', headers: {'user-reference-key': {{.userReferenceKey}}}})
            .then((response) => response.json())
            .then((data) => {
                // if (data.gameId )
                if (data.gameId) {
                    document.location.href = '/game?user_id=' + encodeURIComponent({{.userReferenceKey}}) + '&game_id=' + data.gameId
                } else {
                    resetButton(button, "شروع بازی")
                    alert("دوباره تلاش کنید")
                }
            })
            .catch(async (error) => {
                alert("دوباره تلاش کنید")
                resetButton(button, "شروع بازی")
                console.error('Error:', error)
            });
    }

    function scoreboard(button) {
        setLoading(button);
        setTimeout(() => {
            alert('در حال آماده‌سازی...');
            resetButton(button, "جدول امتیازات");
        }, 2000);
    }

    function exitGame(button) {
        alert("کار نمیکنه دکمه بالا رو بزن سیک شی:)")
        window.close();
    }

    function setLoading(button, text) {
        button.disabled = true;
        button.classList.add("loading");
        button.innerHTML = text + '<span class="spinner"></span>';
    }

    function resetButton(button, text) {
        button.disabled = false;
        button.classList.remove("loading");
        button.innerHTML = text;
    }
</script>
</body>
</html>
