<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حکم</title>
    <link rel="stylesheet" href="/assets/css/splash.css">
</head>
<body>
<div class="splash-container" id="splashContainer">
    <div class="splash-logo">حکم زون</div>
    <div class="loading">در حال بارگذاری...</div>
</div>
<script src="/assets/js/telegram-web-app.js?56"></script>
<script>
    const baseDir = '/assets/img/';
    const splashContainer = document.getElementById('splashContainer');

    const additionalImages = [
        "back.png",
        "bg.jpg",
        "clubs.png",
        "diamonds.png",
        "hearts.png",
        "JC.png",
        "JD.png",
        "JH.png",
        "JS.png",
        "KC.png",
        "KD.png",
        "KH.png",
        "KS.png",
        "QC.png",
        "QD.png",
        "QH.png",
        "QS.png"
    ];

    const imagesToPreload = [
        ...additionalImages,  // Add the custom images first
        ...Array.from({ length: 52 }, (_, index) => {
            const rank = ("0" + (index % 13 + 1)).slice(-2);
            const suit = ['C', 'D', 'H', 'S'][Math.floor(index / 13)];
            return `${rank}${suit}.png`;
        })  // Then add the dynamically generated cards
    ];

    const preloadFonts = () => document.fonts.load("1em 'Iranian Sans'").then(
        () => console.log("Font loaded successfully."),
        error => console.error("Font loading failed:", error)
    );

    const preloadImages = (images) => {
        return Promise.all(
            images.map(image => new Promise(resolve => {
                const img = new Image();
                img.src = `${baseDir}${image}`;
                img.onload = img.onerror = resolve;
            }))
        );
    };

    const initializeSplashScreen = async () => {
        // Show splash screen immediately
        splashContainer.style.opacity = '1';

        // Preload fonts and images
        await preloadFonts();
        await preloadImages(imagesToPreload);

        // Fade out splash screen
        splashContainer.style.transition = 'opacity 1s ease';
        splashContainer.style.opacity = '0';

        // After fade-out completes, redirect to the menu
        setTimeout(() => {
            document.location.href = `/menu?` + window.Telegram.WebApp.initData;
        }, 1000);  // Time to allow the fade-out transition to finish
    };

    initializeSplashScreen();
</script>
</body>
</html>
