@font-face {
    font-family: 'Iranian Sans';
    src: url('font/Iranian Sans.ttf') format('truetype'); /* مسیر به فونت را مشخص کنید */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Iranian Sans', sans-serif; /* استفاده از فونت جدید */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 400px;
    height: 100vh;
    background-color: white;
    position: relative; /* برای قرار دادن نام‌ها روی ضلع‌ها */
}

.trump {
    font-size: 18px; /* اندازه حکم */
    font-weight: bold; /* ضخیم‌تر کردن حکم */
    direction: rtl;
}

.top-bar {
    direction: rtl;
    display: flex; /* استفاده از flexbox */
    justify-content: space-between; /* فاصله بین حکم و امتیازها */
    align-items: center; /* تراز کردن اجزا به وسط */
    padding: 10px;
    background-color: #282828;
    color: white;
}

.scores {
    display: flex; /* استفاده از flexbox برای امتیازها */
    align-items: center; /* تراز کردن امتیازها به وسط */
    margin-left: auto; /* به سمت راست منتقل شود */
    right: 35px;
    position: absolute;
    direction: rtl;
}

.team-score {
    font-size: 16px; /* اندازه امتیاز */
    margin: 0 10px; /* فاصله بین امتیازها */
    font-weight: bold;
}

.opponent-name {
    background: #00000080;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    transform: rotate(90deg);
    white-space: nowrap;
}

.left {
    left: -30px; /* موقعیت نام رقیب در سمت چپ */
    top: 50%; /* مرکز کردن عمودی */
    transform: translateY(-50%) rotate(90deg); /* چرخش و مرکز کردن */
}

.right {
    right: -30px; /* موقعیت نام رقیب در سمت راست */
    top: 50%; /* مرکز کردن عمودی */
    transform: translateY(-50%) rotate(-90deg); /* چرخش و مرکز کردن */
}

.player-name {
    font-size: 20px; /* اندازه بزرگ‌تر برای اسم یار */
    font-weight: bold; /* ضخیم‌تر کردن فونت */
}

.player-name.top {
    color: white;
    font-size: 18px;
    background: #00000080;
    font-weight: bold;
    position: absolute;
    top: 55px;
    left: 50%; /* وسط چین افقی */
    transform: translateX(-50%); /* جابجایی به سمت چپ برای وسط چین شدن */
}

.hokm-button {
    background-color: #d9534f;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.center-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin-top: 100px;
}

.center-row {
    display: flex;
    justify-content: center;
    margin: 5px 0; /* فاصله بین ردیف‌ها */
}

.center-card {
    width: 50px;
    margin: 0 5px;
}

.bottom-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hand-cards {
    display: flex;
    justify-content: center; /* مرکز کردن کارت‌ها */
    align-items: flex-end;
    width: 100%; /* عرض 100% */
    padding: 0 20px; /* فضا در سمت چپ و راست */
}

.hand-cards img {
    width: 60px; /* اندازه کارت */
    margin: 0 -20px; /* فاصله کم بین کارت‌ها */
    cursor: pointer;
}

.center-cards img {
    width: 60px;
}

.turn-message {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* تنظیمات برای حالت پرتره در موبایل */
@media only screen and (orientation: portrait) {
    .hand-cards img {
        width: 60px; /* اندازه کارت در حالت پرتره */
        margin: 0 -20px; /* فاصله کم بین کارت‌ها */
        cursor: pointer;
    }

    .game-container {
        width: 100%;
        height: 100vh;
    }

    .center-cards img {
        width: 60px;
    }
}

.hamburger {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 10px; /* فاصله از سمت چپ */
}

.bar {
    width: 25px; /* عرض نوار */
    height: 3px; /* ارتفاع نوار */
    background-color: white; /* رنگ نوار */
    margin: 3px 0; /* فاصله بین نوارها */
}

.menu-icon {
    font-size: 30px; /* اندازه آیکون */
    color: white; /* رنگ آیکون */
    cursor: pointer; /* تغییر نشانگر ماوس به اشاره‌گر */
    position: absolute; /* برای قرار دادن در گوشه */
    top: 10px; /* فاصله از بالای صفحه */
    right: 10px; /* فاصله از سمت راست */
}

.menu {
    display: none; /* پنهان کردن منو به صورت پیش‌فرض */
    position: absolute; /* برای قرار دادن در گوشه */
    top: 50px; /* فاصله از بالای صفحه */
    right: 10px; /* فاصله از سمت راست */
    background-color: #282828; /* رنگ پس‌زمینه منو */
    border-radius: 5px; /* گوشه‌های گرد */
    z-index: 1000; /* قرار دادن در بالای سایر عناصر */
}

.menu ul {
    list-style-type: none; /* حذف علامت‌های لیست */
    padding: 10px; /* فاصله داخلی */
}

.menu li {
    margin: 5px 0; /* فاصله بین گزینه‌ها */
}

.menu a {
    color: white; /* رنگ لینک‌ها */
    text-decoration: none; /* حذف زیرخط از لینک‌ها */
}

.small-card {
    position: relative; /* لازم برای قرار دادن عدد در موقعیت مطلق */
    width: 25px; /* سایز کوچک برای کارت‌ها */
    height: auto;
    border-radius: 3px; /* گوشه‌های گرد */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* سایه برای کارت‌ها */
}

.bottom-score-cards-container {
    width: 70%;
}

.bottom-small-card {
    margin-bottom: 15px;
    margin-left: -15px;
}

.right-score-cards-container {
    height: 70%;
    position: absolute;
    top: 60%;
    right: 40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.right-small-card {
    margin-right: 15px;
    margin-top: -24px;
}

.card-number {
    position: absolute;
    top: 0; /* بالای کارت */
    right: 0; /* سمت راست کارت */
    background-color: rgba(0, 0, 0, 0.7); /* پس‌زمینه تیره با شفافیت */
    color: white; /* رنگ متن سفید */
    font-size: 12px; /* اندازه متن */
    font-weight: bold; /* متن ضخیم‌تر */
    border-radius: 50%; /* دایره‌ای کردن پس‌زمینه */
    width: 20px; /* عرض دایره */
    height: 20px; /* ارتفاع دایره */
    display: flex; /* برای مرکز کردن عدد */
    justify-content: center; /* مرکز کردن متن افقی */
    align-items: center; /* مرکز کردن متن عمودی */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* سایه برای زیبایی */
}

.bottom-small-card-number {
    color: white;
    font-weight: bold;
    position: relative;
    right: 23px;
    bottom: 25px;
    background: #6b6b6b;
}

.right-small-card-number {
    color: white;
    font-weight: bold;
    position: relative;
    right: 8px;
    bottom: 32px;
    background: #6b6b6b;
}


.deck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.deck-card {
    width: 60px;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}








@keyframes dealCard {
    from {
        transform: translate(-60px, 0) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(var(--target-x), var(--target-y)) scale(0.8);
        opacity: 1;
    }
}

.card.dealing {
    position: absolute;
    animation: dealCard 0.5s ease-in-out forwards;
}